body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h2 {
  margin-bottom: 20px;
  color: #ff0d00;
}

form {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
}

label {
  margin-bottom: 5px;
  display: block;
  color: #ccc;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #ff0000;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  
}

button:hover {
  background: #ffffff;
}


}
